<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="contentSecurityPolicy" type="ContentSecurityPolicy.Net.Config.ContentSecurityPolicySection"/>
  </configSections>
  <contentSecurityPolicy>
    <options allowInlineScript="true" />
    <allowedSources allowSelf="true" />
    <allowedImageSources>
      <add source="https://*.cloudfront.net" />
    </allowedImageSources>
    <allowedScriptSources>
      <add source="http://erlend.oftedal.no" />
    </allowedScriptSources>
    <allowedStyleSources>
      <add source="http://erlend.oftedal.no" />
    </allowedStyleSources>
    <allowedFrameSources>
      <add source="http://erlend.oftedal.no" />
    </allowedFrameSources>
  </contentSecurityPolicy>
  
    <system.web>
      <httpModules>
        <add name="ContentSecurityPolicyHttpModule" type="ContentSecurityPolicy.Net.PolicyHttpModule, ContentSecurityPolicy.Net"/>
      </httpModules>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
