<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="contentSecurityPolicy" type="ContentSecurityPolicy.Net.Config.ContentSecurityPolicySection"/>
  </configSections>
  <contentSecurityPolicy reportOnly="true">
    <options allowInlineScript="true" />
    <allowedSources allowSelf="true" />
    <allowedImageSources>
      <add source="*" />
    </allowedImageSources>
    <allowedScriptSources allowSelf="true">
      <add source="*.google.com" />
    </allowedScriptSources>
  </contentSecurityPolicy>
  
    <system.web>
      <httpModules>
        <add name="ContentSecurityPolicyHttpModule" type="ContentSecurityPolicy.Net.PolicyHttpModule, ContentSecurityPolicy.Net"/>
      </httpModules>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
